          body {
        margin: 0;
        height: 95vh;
        font-size: 16px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      .wrap {
        position: relative;
        height: 100%;
      }
      .open, .close {
        color: white;
        text-transform: uppercase;
        padding: 25px;
        font-size: 50px;
        text-decoration: none;
        display: grid;
        width: fit-content;
        height: 10%;
        border-radius: 50% 20%;
        position: relative;
        text-align: center;
        margin: 40px auto;
        transition: all 2s;
      }
      .open {
        background: linear-gradient(to right, #403b4a, #e7e9bb);
      }
      .open:before, .close:before {
        content: "";
        color: white;
        line-height: 50px;
        font-size: 24px;
      }
      #target {
        border-radius: 10%;
        opacity: 0;
        transform: scale(0.5);
        top: -40px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #464330;
        position: absolute;
      }
      #target:target {
        opacity: 1;
        transform: scale(1);
      }
      .open:hover {
        background: linear-gradient(to left, #403b4a, #e7e9bb);
          transform: rotate(1080deg);
          box-shadow: 0.8em 0.1em 1.1em -0.1em blue;
        }
      .close:hover {
        background: linear-gradient(to bottom, #403b4a, #e7e9bb);
          transform: rotate(1080deg);
          box-shadow: 0.8em 0.1em 1.1em -0.1em blue;
      }
      .emoji { 
        margin: 10px auto;
        width:  200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #757f9a, #d7dde8);
        position: relative;
       }
       .emoji::before, .emoji::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 40px;
        border-radius: 50%;
        background: #000;
        top: 40px;
        animation: eye 3s ease-in-out infinite;
       }
       .emoji::before { 
         left: 55px; 
        }
       .emoji::after { 
         right: 55px; 
        }
       @keyframes eye {
        90% { transform: none; }   
        95% { transform: scaleY(0.1); }
       }
       .nose::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 20px;
        border-radius: 50%;
        background: #000;
        left: 90px;
        top: 90px;
       }
       .smile::after {
        content: '';
        position: absolute;
        width: 96px;
        height: 5px;
        border-radius: 50%;
        background: #000;
        left: 55px;
        bottom: 55px;
        animation: smile 2.5s ease-in-out infinite;
       }
       .smile::after {
          right: 55px; 
        }
       @keyframes smile {
        90% { transform: none; }   
        95% { transform: scaleX(-0.1); }}